<h1>Resultados da Busca por: <%= @query %></h1>
<% if @orders.present? %>
<p><%= @orders.count %> <%= Order.model_name.human(count: @orders.count) %> <%= I18n.translate(:found, count: @orders.count) %></p>

<% @orders.each do |order| %>
  <%= render order %>
<% end %>
<% else %>
<h2>Nenhum resultado encontrado para a busca por: <%= @query %></h2>

<% end %>
