<h1><%= Order.model_name.human %> <%= @order.code %></h1>
<dl>
<dt><%= Order.human_attribute_name('warehouse_id') %>: <%= @order.warehouse.full_description %></dt>
<dt><%= Order.human_attribute_name('supplier_id') %>: <%= @order.supplier.corporate_name %></dt>
<dt><%= Order.human_attribute_name('user_id') %>: <%= @order.user.name %> <%='<'+@order.user.email+'>'%></dt>
<dt><%= Order.human_attribute_name('estimated_delivery_date') %>: <%= I18n.localize(@order.estimated_delivery_date) %></dt>
<dt> <%= "#{ Order.human_attribute_name 'status' }: #{ t(@order.status) }" %></dt>
</dl>

<%= link_to 'Editar', edit_order_path(@order)%>

<h2>Itens do Pedido</h2>
<%= link_to 'Adicionar Item', new_order_order_item_path(@order.id) %>
<% @order.order_items.each do |item| %>
    <%= item.quantity %> x <%= item.product_model.name %>
<% end %>
<div>
<%= button_to 'Marcar como Pendente', set_pending_order_path, { method: 'patch'} %>
<%= button_to 'Marcar como Cancelado', set_canceled_order_path, { method: 'patch'} %>
<%= button_to 'Marcar como Entregue', set_delivered_order_path, { method: 'patch'} %>
</div>
