<h1><%= Order.model_name.human %> <%= @order.code %></h1>
<dl>
<dt><%= Order.human_attribute_name('warehouse_id') %>: <%= @order.warehouse.full_description %></dt>
<dt><%= Order.human_attribute_name('supplier_id') %>: <%= @order.supplier.corporate_name %></dt>
<dt><%= Order.human_attribute_name('user_id') %>: <%= @order.user.name %> <%='<'+@order.user.email+'>'%></dt>
<dt><%= Order.human_attribute_name('estimated_delivery_date') %>: <%= I18n.localize(@order.estimated_delivery_date) %></dt>
<dt><%= Order.human_attribute_name('status') %>: <%= @order.status %></dt>
</dl>

<%= link_to 'Editar', edit_order_path(@order)%>
