<h1><%= @supplier.brand_name %></h1>
<div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
</div>
<div>
<p> <%= @supplier.corporate_name %></p>
<ul>
<li><strong>Endereço: </strong><%= @supplier.address %><strong>, Cidade: </strong><%= @supplier.city %>,<strong> Estado: </strong><%= @supplier.state %></li>
<li><strong>Email: </strong><%= @supplier.email %></li>
<li><strong>CNPJ: </strong><%= @supplier.registration_number.insert(2, '.').insert(6, '.').insert(10, '/').insert(15, '-') %>
</ul>
<div><span>
<%= link_to 'Voltar', suppliers_path %>
<%= link_to 'Editar', edit_supplier_path %>
</span></div>
</div>
