<h1><%= @supplier.brand_name %></h1>
<div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
</div>
<div>
<p> <%= @supplier.corporate_name %></p>
<ul>
<li><strong>Cidade: </strong><%= @supplier.city %>,<strong> Estado: </strong><%= @supplier.state %></li>
<li><strong>Email: </strong><%= @supplier.email %></li>
<li><strong>Número de registro: </strong><%= @supplier.registration_number %>
</ul>
<div><span>
<%= link_to 'Voltar', suppliers_path %>
<%= link_to 'Editar', edit_supplier_path %>
</span></div>
</div>