<h1><%=Warehouse.model_name.human%> <%= @warehouse.code %></h1>
<div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
</div>
<div>
<p> <%= @warehouse.name %></p>
<ul>
<li><strong>Cidade: </strong><%= @warehouse.city %></li>
<li><strong>Area: </strong><%= number_with_delimiter(@warehouse.area, :delimiter => '.') %> m²</li>
<li><strong>Endereço: </strong><%= @warehouse.address %>, <strong>CEP: </strong><%= @warehouse.cep.insert(5, '-') %></li>
<li><strong>Descrição: </strong><%= @warehouse.description %></li>
</ul>
</div>

<div>
    <h2>Itens em Estoque</h2>
    <% @stocks.each_pair do |product, count| %>
        <%= "#{count}x #{product.sku}" %>
    <% end %>
</div>

<%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %>
<%= link_to 'Voltar', root_path %>
<%= button_to 'Deletar', warehouse_path(@warehouse.id), { method: 'delete' }%>

