<h1><%=Warehouse.model_name.human%> <%= @warehouse.code %></h1>
<div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
</div>
<div>
<p> <%= @warehouse.name %></p>
<ul>
<li><strong>Cidade: </strong><%= @warehouse.city %></li>
<li><strong>Area: </strong><%= number_with_delimiter(@warehouse.area, :delimiter => '.') %> m²</li>
<li><strong>Endereço: </strong><%= @warehouse.address %>, <strong>CEP: </strong><%= @warehouse.cep.insert(5, '-') %></li>
<li><strong>Descrição: </strong><%= @warehouse.description %></li>
</ul>
</div>
<section id="stock_products">
<div>
    <h2>Itens em Estoque</h2>
    <% @stocks.each_pair do |product, count| %>
    <ul>
        <li><%= "#{count}x #{product.sku}" %></li>
    </ul>
    <% end %>
</div>
</section>

<section id="stock_destination">
<div>
    <h2>Saída de Estoque</h2>
    <%= form_with(url: warehouse_stock_product_destinations_path(@warehouse)) do |spd| %>
    <%= spd.label :product_model_id, "Item para Saída"  %>
    <%= spd.collection_select :product_model_id, @product_models, :id, :sku %>
    <%= spd.label :recipient, 'Destinatário' %>
    <%= spd.text_field :recipient%>
    <%= spd.label :address, "Endereço Destino" %>
    <%= spd.text_field :address%>
    <%= spd.submit %>
    <% end %>
</div>
</section>

<%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %>
<%= link_to 'Voltar', root_path %>
<%= button_to 'Deletar', warehouse_path(@warehouse.id), { method: 'delete' }%>

