<!DOCTYPE html>
<html>

  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>
<nav>
  <div>
  <span><h1>Galpões & Estoque</h1></span>
  <span>
  <%= link_to 'Página Inicial', root_path %>
  </span>
  <span>
  <%= link_to 'Cadastrar Galpão', new_warehouse_path %>
  </span>
  <span>
  <%= link_to 'Fornecedores', suppliers_path %>
  <%= link_to 'Cadastrar novo Fornecedor', new_supplier_path%>
  </span>
  <span>
  <%= link_to 'Modelos de Produtos', product_models_path%>
  </span>
  <div>
</nav>
<body>
  <header>
  </header>
  <main>
    <div>
    <%# flash.each do |name, msg| %>
    <%#= content_tag :div, msg, class: name %>
    <%# end %>
    </div>
    <%= yield %>
  </main>
</body>
<footer>
<p>Criado por uma <a href='https://github.com/petragrunheidt/warehouse-app'>Sapatão</a></p>
</footer>
</html>
